
.contenedor-book {
width: 99vw;
display: flex;
justify-content: center;
height: 98vh;
align-items: center;



}

body {
background-image: url('./Imagenes/080C.jpg');
background-repeat: repeat;
font-family: "Roboto Slab", serif;
font-size: 18px;
font-weight: 300;}


.book {
  border: 13px solid rgb(88, 55, 47);
  
  background-image: url('./Imagenes/Texturelabs_Paper_290L.jpg');
  border-radius: 28px;
  padding: 0 10px;
  width: 1300px; /* adjust size */
  max-width: 100%;
  height: 700px;
  aspect-ratio: 3 / 2;
  display: flex;
}
.pageL,	.pageR {
  height: 100%;
  width: 50%;
  display: inline-block;
  position: relative;
  border-radius: 22px;
}
.pageL {
  border-left: 2px rgba(128, 128, 128, 0.507) solid;
}


.Parrafo-izq {
  margin: 50px;
  height: 500px;
  overflow: hidden;
}

.Parrafo-der {
  margin: 50px;
}

.pageR { 
  border-right: 2px rgba(128, 128, 128, 0.466) solid;
}
.seam {
  width: 10px;
  background:
    linear-gradient(to right,
    white, rgba(92, 92, 92, 0.486), white);
        position: sticky;
}
	