
.contenedor-book {
width: 99vw;
display: flex;
justify-content: center;
height: 98vh;
align-items: center;



}

body {
background-image: url('/images/080C.jpg');
background-repeat: repeat;
font-family: "Roboto Slab", serif;
font-size: 18px;
font-weight: 300;}


.book {
  border: 13px solid rgb(88, 55, 47);
  
  background-image: url('/images/Texturelabs_Paper_290L.jpg');
  border-radius: 28px;
  padding: 0 10px;
  width: 1300px; /* adjust size */
  max-width: 100%;
  height: 700px;
  aspect-ratio: 3 / 2;
  display: flex;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);;
}
.pageL,	.pageR {
  height: 100%;
  width: 50%;
  display: inline-block;
  position: relative;
  border-radius: 22px;
}
.pageL {
  border-left: 2px rgba(128, 128, 128, 0.507) solid;
}


.Parrafo-izq,
.Parrafo-der {
  margin: 50px;
  height: 550px;
  overflow: hidden;
  padding: 2px;
}

.Parrafo-izq img,
.Parrafo-der img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  object-fit: contain;
}

.pageR { 
  border-right: 2px rgba(128, 128, 128, 0.466) solid;
}
.seam {
  width: 10px;
  background:
    linear-gradient(to right,
    white, rgba(92, 92, 92, 0.486), white);
        position: sticky;
}
	

h1 {
font-family: "Pixelify Sans", sans-serif;
font-weight: 300;
margin: 0 ;
}

h2 {
font-size: 15px;
font-weight: 500;
letter-spacing: 0.5cap;
color: #58372F;
margin: 0;

}

span {
  font-weight: 500;
  color: #58372F;
}

